

  @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

.note h3 {
    font-size: 22px;
}
.note p {
    font-size: 18px;
}


body {
    background: #eaf7ff;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'El Messiri', sans-serif; */
}

button {
    margin: 0;
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
}
.delete i , .edit i {
    font-size: 20px;
    display: block;
}
.edit i {
    color: rgb(63 227 101 / 95%);
}
.delete i {
    color: #ED5E68;
}
.navbar-toggler{
    padding: 0;
}
.navbar-toggler i {
    font-size: 22px;
}
.edit {
    margin-inline-end:15px ;
}

.navbar-dark .navbar-toggler{
    color: #3F7BC2;
    border: none;
    
}

a {
    text-decoration: none;
}





label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, .5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary button{
    background-color: #F0F0F0;
}
.alertify-notifier .ajs-message.ajs-success{
    bottom: 55px;
}
.alertify .ajs-header{
    font-weight: 500;
}
.alertify .ajs-header{
      font-family: 'Poppins', sans-serif;
}
.alertify .ajs-body .ajs-content .ajs-input{
      font-family: 'Poppins', sans-serif;
}



input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

.notfound-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.notfound-content a {
    color: #179b77;
    font-size: 18px;
}
.form-control:focus{
   box-shadow:   0 0 0 2px rgba(63, 123, 194,.25);
}

.notfound{
    color: red;
    font-size: 35px;
}
textarea.form-control{
    height: 100px;
    resize: none;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.notes-container{
    max-height: 50vh;
    overflow-y: auto;
    padding: 20px;

}
.register-parent , .login-parent{
   padding-bottom: 80px;
}
.deleteAll-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-top:2px solid #e7e7e7 ;
}
.deleteAllBtn{
    /* padding: 10px 30px; */
    width: 160px;
    height: 45px;
    background-color: #ED5E68;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
}
.notes-parent{
    max-width: 65%;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(239, 239, 239);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.developer{
    padding: 15px 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #eaf7ff;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.developer i {
    color: red;
}
.developer a {
    color: #3F7BC2;
}


.nav-link{
    color: #3F7BC2;
}
.navbar-brand {
    text-align: center;
    color: #3F7BC2 !important;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: #3F7BC2;
    font-size: 1.2rem;
    padding: 0;
}
form h2 {
    color: #3F7BC2;
}
button[type="submit"]{
    background-color:  #3F7BC2;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #3F7BC2;
}
button[type="submit"]:hover{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
}
.nav-item:first-of-type{
    margin-inline-end: 30px;
}



.add:hover {
    /* background-color: #8BC34A; */
    color: #fff;
}


.notesParent-postioned {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
}


::-webkit-scrollbar {
    width: 10px;
    /* height: 3px; */
  }
  
  ::-webkit-scrollbar-thumb {
    background:  #3F7BC2;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #dcdcdc;
  }
  

.note {
    /* background: linear-gradient(#F9EFAF, #F7E98D); */
    /* background-color: rgb(239, 239, 239); */
    margin-bottom: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    border: 2px solid #e7e7e7;
   
}

.errorslist {
    list-style-position: inside;
    text-align: left;
}

.add{
    background-color: #3F7BC2;
    min-width: 160px;
    height: 45px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.add i {
    margin-inline-start: 7px;
    transition: transform linear .2s;
    display: inline-block;
    font-size: 20px;
}

.note a {
    color: black;
    font-size: 23px;
}



.registermessage {
    padding:  12px ;
    font-size: 16px;
    color: #000;
    background-color: #D4EDDA;
    background-color: rgb(189 225 198 / 95%);
}
.registermessage i {
    display: inline-block;
    margin-inline-start: 10px;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}

.nav-item i {
    color: red;
    font-size: 20px;
}
.noNotesText{
    font-size: 22px;
    color: #ED5E68;
    margin: 10px 0;
}

.note{
    padding: 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.note:last-of-type{
    margin-bottom: 0;
}

@media screen and (max-width : 992px) {
    .notes-parent{
        max-width: 85%;
    }
}

@media screen and (max-width : 768px) {
    .Toastify__toast-container{
        width: 65vw;
        right: 15px;
        left: unset;
        bottom: 54px;
    }
    .developer{
        padding: 12px 0;
    }
    .add i{
        font-size: 16px;
    }
    .deleteAll-holder{
        padding-bottom: 15px;
    }
    .notes-container{
      padding: 15px   10px;
    }
   
    .alertify .ajs-modal{
        top: 50%;
        transform: translateY(-50%);
        bottom: unset;
        overflow-y: hidden;
    }
    .alertify .ajs-body .ajs-content{
        padding: 10px 0;
    }
    .alertify .ajs-dialog{
        margin: 0;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
        padding: 0 15px;
    }
    .note{
        padding: 12px;
    }
    .note h3 {
        font-size: 18px;
        font-weight: 500;
    }
    .note p{
        font-size: 16px;
    }
    .navbar-brand{
        font-size: 22px;
        font-weight: 400;
    }
    .navbar-dark .navbar-nav .nav-link{
        font-size: 16px;
    }
    .nav-item:first-of-type{
        margin: 0;
        margin-bottom: 15px;
    }
    .navbar{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .navbar-nav{
        padding: 15px 0;
    }
    .nav-item i{
        font-size: 14px;
    }
    .notes-parent{
        max-width: 100%;
    }
    ::-webkit-scrollbar {
        width: 7px;
        /* height: 3px; */
      }
      .deleteAllBtn{
        margin-top: 15px;
      }
      .edit{
        margin-inline-end: 18px;
      }
      .notes-container{
        max-height: 53vh;
      }
   
}